/* Font import from google */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* 
font-family:"Outfit", serif;
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F4E5D9;
    font-family:"Outfit", serif;
}
.container{
    width: 60%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
}
h2{
    font-weight: 700;
    color: #7B7A78;
    padding: 10px 0;
    font-family:"Outfit", sans-serif;
}
p{
    font-weight: 400;
    color: #9C9793;
    text-align: justify;
}
img{
    width: 100%;
    height: auto;
}
/* Banner section design */
#header-section img{
    border-radius: 10px;
}
#header-section > p{
    margin: 10px 0;
}
.preparation{
    background-color: #FFF7FC;
    padding: 10px;
    border-radius: 10px;
}
.preparation > p{
    color: #A47A8C;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 0;
}
.preparation > ul{
    padding-left: 30px;
}
.preparation > ul li::marker{
    color: #6B3448;
}
.preparation > ul > li{
    color: #796F70;
    padding: 5px 0;
}
.preparation > ul > li strong{
    color: #786E6C;
}
/* ingradient section start here */
.ingradient-section{
    padding: 20px 0;
}
.ingradient-section h3{
    font-weight: 600;
    color: #754632;
    font-size: 24px;
    padding: 15px 0;
}
.ingradient-section ul{
    padding-left: 30px;
}
.ingradient-section ul li{
    list-style-type: square;
    color: #796F70;
    padding: 5px 0;
}
.ingradient-section ul li::marker{
    color: #6B3448;
}
.horizontal-line{
    color: #6B3448;
    opacity: 0.3;
}

/* instruction section style start here */
.instruction-section{
    padding: 20px 0;
}
.instruction-section h3, .nutrition-section h3{
    font-weight: 600;
    color: #754632;
    font-size: 24px;
    
}
.instruction-section ol{
    padding-left: 30px;
    line-height: 1.5rem;
}
.instruction-section ol li{
    color: #796F70;
    padding: 5px 0;
}
.instruction-section ol li::marker{
    color: #6B3448;
}
/* nutrition section style start here */
.nutrition-section{
    padding: 1.3rem 0;
}
.nutrition-section h3{
    padding-bottom: 0.9rem;
}
.nutrition-section p{
    font-weight: 400;
    color: #9C9793;
    text-align: justify;
    padding-bottom: 0.6rem;
}
.nutrition-section table{
    border-collapse: collapse;
    width: 80%;
    text-align: justify;
    margin-top: 1rem;
}
.nutrition-section table tr, .nutrition-section table td{
    border-bottom: 1px solid #9c97934b;  
    
}
.nutrition-section table td{
    color: #754632;
    font-weight: 500;
    padding-bottom: 0.6rem;
    padding-left: 1.5rem;
}
.nutrition-section table td:first-child{
    color: #9C9793;
}
